@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <nav class="navbar navbar-expand-sm">
        <div class="d-sm-inline-flex flex-sm mt-2">
            <ul class="navbar-nav mt-2">
                <li>
                </li>
                <li class="ml-2">
                </li>
            </ul>
        </div>
    </nav>
    <br />
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <form id="luhn" method="post" asp-page-handler="CheckLuhn" autocomplete="off">
                    <div asp-validation-summary="All">
                        <span>Errors:</span>
                    </div>
                    <input type="hidden" name="IsValid" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div class="container-fluid">
                        <div class="row">
                            <label asp-for="CardNums" class="control-label">Card No's:</label>
                            <textarea class="form-control" rows="5" id="cardNums" asp-for="CardNums"></textarea>
                        </div>
                    </div>
                    <hr />
                    <div class="row mt-3">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col">
            </div>
            <div class="col">

            </div>
            <div class="col">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

<script>
    $(document).ready(function () {
        $('#ADServerId').attr("disabled", $('#switchAD').is(':unchecked'));
    });
</script>
}